@CHARSET "UTF-8";

#ratewindow {
	position: fixed;
	top: 0px;
	width: 400px;
	height: 250px;
	left: 0px;
	margin: 10px;
	z-index: 10000;
	font-family: sans-serif;
	background: white;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 10px;
	font-size: 16px;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #333333;
	-webkit-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
	float: left;
}
